.hidden {
  visibility: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1528190336454-13cd56b45b5a');
  background-size: cover;
}

a {
  color:inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

